body {
    background-image: url(../src/img/background3.png);
    background-color: #171719;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    font-family: 'Vollkorn', serif;
}


@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');
@import './scss/form.scss';
@import './scss/button.scss';