.form_place {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        margin: 20px 0;
        font-size: 40px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 2px;
        text-align: center;
       color: #ffffff;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgba(255,255,255,0.13);
        border-radius: 10px;
        backdrop-filter: blur(10px);
        border: 2px solid rgba(255,255,255,0.1);
        box-shadow: 0 0 40px rgba(8,7,16,0.6);
        padding: 15px 20px;
        color: #ffffff;
    
        label {
            margin-top: 5px;
            margin-bottom: 4px;
            align-self: flex-start;
        }
        input{
            display: block;
            height: 40px;
            width: calc(100% - 20px);
            background-color: rgba(255,255,255,0.07);
            border-radius: 3px;
            padding: 0 10px;
            font-size: 14px;
            border: none;
            border-radius: 5px;
            outline: none;
            color: #ffffff;
            &::placeholder {
                color:#969bae;
                font-family: 'Vollkorn', serif;
            }
        }
    }
    .button_direction {
        margin-top: 14px;
        padding:15px 0 10px 0;
        font-size: 0.8rem;
    }
    .pass_button {
        margin-top: 10px;
        width: fit-content;
        place-self: flex-start;
        padding: 10px;
        font-size: 0.8rem;
    }
    .checkbox_place {
        display: flex;
       
        .check_label {
            font-size: 0.8rem;
            margin-left: 5px;
            margin-top: 8px;
        }
        #check {
            width: fit-content;
            accent-color: white;
            height: fit-content;
            margin-top: 10px;
            margin-left: 0;
        }
    }
}

.notification {
    color: rgb(206, 18, 18);
    background: #e8f0fe;;
    padding: 5px;
    border-radius: 3px;
}